<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <a class="navbar-brand" href="#"><img src="images/logo.png" title="logo" style="width: 100px;" /></a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Promocje <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Subskrybcja <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Partnerzy <span class="sr-only"></span></a>
            </li>
        </ul>
        <div style="margin: 0 10px;">
            <form class="form-inline my-2 my-lg-0">
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Szukaj produktu" style="width: 300px;">
                </div>
            </form>
        </div>
        <span class="navbar-text">
            <a href="#" class="header-image-action my-inline">
                <img src="images/shopping_card.png" alt="shopping card logo" style="width: 30px;"/>
            </a>
            <div class="dropdown show my-inline">
                <a class="dropdown-toggle header-image-action" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="images/login.png" alt="login image" style="width: 30px;" />
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="margin-top: -1px;">
                    <a class="dropdown-item" href="#">Logowanie</a>
                    <a class="dropdown-item" href="#">Rejestracja</a>
                </div>
            </div>
            <a href="#" class="header-image-action my-inline">
                <img src="images/faq.png" alt="faq" style="width: 33px;"/>
            </a>
        </span>
    </div>
</nav>
