<div class="nav-scroller py-1 mb-2" style="margin-top: -10px;" th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="nav d-flex justify-content-between" style="background-color: antiquewhite; padding-top: 7px;">
        <a class="p-2 text-muted" href="#">Laptopy i tablety</a>
        <a class="p-2 text-muted" href="#">Telefony i GPS</a>
        <a class="p-2 text-muted" href="#">Komputery i podzespoły</a>
        <a class="p-2 text-muted" href="#">Urządzenia peryferyjne</a>
        <a class="p-2 text-muted" href="#">Gry</a>
        <a class="p-2 text-muted" href="#">Fotografia</a>
        <a class="p-2 text-muted" href="#">Audio</a>
        <a class="p-2 text-muted" href="#">Oprogramowanie</a>
        <a class="p-2 text-muted" href="#">Akcesoria</a>
    </nav>
</div>