<div th:fragment="indexPublic" xmlns:th="http://www.w3.org/1999/xhtml">

    <div id="slidertop" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#banner1" data-slide-to="0" class="active"></li>
            <li data-target="#banner2" data-slide-to="1"></li>
            <li data-target="#banner3" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../../../static/images/banners/baner_1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../../static/images/banners/baner_2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../../static/images/banners/baner_3.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#slidertop" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#slidertop" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row mb-2 my-margin">
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Sprzęt komputerowy</strong>
                    <h3 class="mb-0">Nowe procesory</h3>
                    <div class="mb-1 text-muted">21-11-2019</div>
                    <p class="card-text mb-auto">Procesory Intel Core 9 generacji „Coffee Lake-S” podniosły poprzeczkę w kwestii wydajności ...</p>
                    <a href="#" class="stretched-link">Czytaj dalej</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="images/news/intel.jpg" alt="procesory intela" style="width: 200px; height: 250px;" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Fotografia</strong>
                    <h3 class="mb-0">Sigma 24-70 mm</h3>
                    <div class="mb-1 text-muted">22-11-2019</div>
                    <p class="mb-auto">Przed tygodniem Sigma pokazała nowy reporterski zoom do systemu Sony E, który według zapowiedzi ...</p>
                    <a href="#" class="stretched-link">Czytaj dalej</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="images/news/sigma.jpg" alt="procesory intela" style="width: 200px; height: 250px;" />
                </div>
            </div>
        </div>
    </div>

    <div class="h4">
        <i class="fa fa-concierge-bell"></i>
        Oferta Specjalna
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="#">
                        <img class="pic-1" src="images/products/product_1.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Xiaomi Mi 9T Pro</a></h3>
                    <div class="price">1 999,00 zł
                        <span>2 500,00 zł</span>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Podgląd"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Dodaj do listy życzeń"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="" data-tip="Dodaj do koszyka"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="#">
                        <img class="pic-1" src="images/products/product_3.webp">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Patriot 240GB 2,5"</a></h3>
                    <div class="price">119,00 zł
                        <span>155,00 zł</span>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Podgląd"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Dodaj do listy życzeń"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="" data-tip="Dodaj do koszyka"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="#">
                        <img class="pic-1" src="images/products/product_2.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">OnePlus 7T Pro</a></h3>
                    <div class="price">3 299,00 zł
                        <span>4 000,00 zł</span>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Podgląd"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Dodaj do listy życzeń"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="" data-tip="Dodaj do koszyka"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="#">
                        <img class="pic-1" src="images/products/product_4.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Huawei M5 Lite</a></h3>
                    <div class="price">999,00 zł
                        <span>1 240,00 zł</span>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Podgląd"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Dodaj do listy życzeń"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="" data-tip="Dodaj do koszyka"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="h4">
        <i class="fa fa-microphone"></i>
        Polecamy
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="#">
                        <img class="pic-1" src="images/products/product_1.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Xiaomi Mi 9T Pro</a></h3>
                    <div class="price">1 999,00 zł
                        <span>2 500,00 zł</span>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Podgląd"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Dodaj do listy życzeń"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="" data-tip="Dodaj do koszyka"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="#">
                        <img class="pic-1" src="images/products/product_3.webp">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Patriot 240GB 2,5"</a></h3>
                    <div class="price">119,00 zł
                        <span>155,00 zł</span>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Podgląd"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Dodaj do listy życzeń"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="" data-tip="Dodaj do koszyka"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="#">
                        <img class="pic-1" src="images/products/product_2.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">OnePlus 7T Pro</a></h3>
                    <div class="price">3 299,00 zł
                        <span>4 000,00 zł</span>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Podgląd"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Dodaj do listy życzeń"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="" data-tip="Dodaj do koszyka"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="#">
                        <img class="pic-1" src="images/products/product_4.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Huawei M5 Lite</a></h3>
                    <div class="price">999,00 zł
                        <span>1 240,00 zł</span>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Podgląd"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Dodaj do listy życzeń"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="" data-tip="Dodaj do koszyka"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="#">
                        <img class="pic-1" src="images/products/product_1.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Xiaomi Mi 9T Pro</a></h3>
                    <div class="price">1 999,00 zł
                        <span>2 500,00 zł</span>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Podgląd"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Dodaj do listy życzeń"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="" data-tip="Dodaj do koszyka"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="#">
                        <img class="pic-1" src="images/products/product_3.webp">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Patriot 240GB 2,5"</a></h3>
                    <div class="price">119,00 zł
                        <span>155,00 zł</span>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Podgląd"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Dodaj do listy życzeń"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="" data-tip="Dodaj do koszyka"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="#">
                        <img class="pic-1" src="images/products/product_2.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">OnePlus 7T Pro</a></h3>
                    <div class="price">3 299,00 zł
                        <span>4 000,00 zł</span>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Podgląd"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Dodaj do listy życzeń"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="" data-tip="Dodaj do koszyka"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="#">
                        <img class="pic-1" src="images/products/product_4.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Huawei M5 Lite</a></h3>
                    <div class="price">999,00 zł
                        <span>1 240,00 zł</span>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Podgląd"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Dodaj do listy życzeń"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="" data-tip="Dodaj do koszyka"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="#">
                        <img class="pic-1" src="images/products/product_1.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Xiaomi Mi 9T Pro</a></h3>
                    <div class="price">1 999,00 zł
                        <span>2 500,00 zł</span>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Podgląd"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Dodaj do listy życzeń"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="" data-tip="Dodaj do koszyka"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="#">
                        <img class="pic-1" src="images/products/product_3.webp">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Patriot 240GB 2,5"</a></h3>
                    <div class="price">119,00 zł
                        <span>155,00 zł</span>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Podgląd"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Dodaj do listy życzeń"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="" data-tip="Dodaj do koszyka"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="#">
                        <img class="pic-1" src="images/products/product_2.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">OnePlus 7T Pro</a></h3>
                    <div class="price">3 299,00 zł
                        <span>4 000,00 zł</span>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Podgląd"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Dodaj do listy życzeń"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="" data-tip="Dodaj do koszyka"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid6">
                <div class="product-image6">
                    <a href="#">
                        <img class="pic-1" src="images/products/product_4.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Huawei M5 Lite</a></h3>
                    <div class="price">999,00 zł
                        <span>1 240,00 zł</span>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Podgląd"><i class="fa fa-search"></i></a></li>
                    <li><a href="" data-tip="Dodaj do listy życzeń"><i class="fa fa-shopping-bag"></i></a></li>
                    <li><a href="" data-tip="Dodaj do koszyka"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>